<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lujayn.wootouch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:name="com.lujayn.wootouch.common.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lujayn.wootouch.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lujayn.wootouch.activity.SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lujayn.wootouch.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lujayn.wootouch.activity.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lujayn.wootouch.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lujayn.wootouch.activity.CheckOutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lujayn.wootouch.activity.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lujayn.wootouch.activity.UpdateAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lujayn.wootouch.activity.PaymentMethodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lujayn.wootouch.activity.TrialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.lujayn.wootouch.activity.PaymentsActivity" />

        <service android:name="com.lujayn.wootouch.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.lujayn.wootouch.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.lujayn.wootouch.activity.EditProfileActivity" />
        <activity android:name="com.lujayn.wootouch.activity.AddAddressActivity" />
        <activity android:name="com.lujayn.wootouch.activity.ChangePasswordActivity" />
        <activity android:name="com.lujayn.wootouch.activity.PastOrderActivity" />
        <activity android:name="com.lujayn.wootouch.activity.OrderDetailActivity" />
        <activity android:name="com.lujayn.wootouch.activity.CartActivity" />
        <activity android:name="com.lujayn.wootouch.activity.ProductDetailActivity" />
        <activity android:name="com.lujayn.wootouch.activity.ProductActivity" />
        <activity android:name="com.lujayn.wootouch.activity.SubCategoryActivity"></activity>
    </application>

</manifest>